.App {
  font-family: sans-serif;
  text-align: center;
}
/* Container styling */
.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
form {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 18px;
  margin-bottom: 10px;
}
input[type="checkbox"] {
  margin-right: 10px;
}
button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #088b82;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #c82333;
}
.completed {
  text-decoration: line-through;
}

#submit {
  margin-top: 10px;
}
